body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
  
.page {
  height: calc(100vh - 56px);
}

#landing {
  background-color: cornflowerblue;
  height: 100vh;
}

#about {
  background-color: honeydew;
}

#skills {
  background-color: whitesmoke;

}
#projects {
  background-color: thistle;
}
.skills {
  padding: 15px;
}
.skills:hover {
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.page-header {
  padding: 8vh;
}