body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
  
.page {
  height: calc(100vh);
}

#navigation {
  border-bottom: 1px grey solid;
   opacity: 0.25; 
  background-color: black; 
  color: white;
  text-shadow: 2px 2px 3px #000, -1px -1px 1px #000;
}

#landing {
  background-image: url('./landing2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cornflowerblue;
  height: 100vh;
}

#landing-title {
  position: relative;
  top: 56px;
  padding: 5vh;
}

@media (min-width: 768px) {
  #landing-title {
    font-size: 3em;
  }
}

@media (min-width: 1200px) {
  #landing-title {
    font-size: 4em;
  }
}

.page-title {
  text-decoration: none;
  color: white;
  padding: 1em;
  text-shadow: 2px 2px 3px #000, -1px -1px 1px #000;
}

#about {
  background-color: #909090;
}

#skills {
  background-color: lightgrey;

}

#projects {
  background-color: whitesmoke;
}

#contact {
  background-color: lightgrey;
}

.skills {
  padding: 15px;
}

.skills:hover {
  border: 1px solid lightgrey;
  border-radius: 15px;
}

.page-header {
  padding: 8vh;
}

#about-img {
  padding-left: 0px;
}